<%= form_for(@log) do |f| %>
  <% if @log.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@log.errors.count, "error") %> prohibited this log from being saved:</h2>

      <ul>
      <% @log.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :meal %><br>
    <%= f.text_field :meal %>
  </div>
  <div class="field">
    <%= f.label :time_of_meal, 'Time' %><br>
    <%= f.time_select :time_of_meal %>
  </div>
  <div class="field">
    <%= f.label :food %><br>
    <%= f.text_area :food %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
